@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mrgvlovani';
  src: url('/fonts/BPGMrgvlovaniCaps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'DejaVu Sans', Verdana, Arial, sans-serif;
}